@charset "UTF-8";

.mainblock {
    width: 95%;
    height: 50px;
    position: static;
    margin: 0 auto;
}

.navbar a{
    font-family: 'Monaco';
    font-size: 20px;
    color: teal;
    line-height: 1.15;
    margin: 7px;
    padding-bottom: 20px;
}

.header-dropdown{
    font-family: 'Monaco';
    font-size: 20px;
    color: teal;
    height: 20px;
    line-height: 1.15;
}

.header-dropdown:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header_dropdown:active{
    text-decoration: underline;
    cursor: pointer,
}
