@charset "UTF-8";

.mainblock {
    width: 95%;
    height: 50px;
    position: static;
    margin: 0 auto;
}

.container-fluid {
    align-items: "center"
}
/* background color */
html, body, #app, #app>div {
    height: 100%;
    /*background-color: #E3F7F7;*/
    background-color: #e6ebe9;
}

/* page descriptor block */
.jumbotron {
    /* background-color: #86A5BA; */
    padding: 1rem 2rem;
    background-color: #95ABBA;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* header */
.navbar a{
    font-family: 'Times New Roman', Times;
    font-size: 24px;
    color: teal;
    line-height: 1.15;
    margin: 7px;
    padding-bottom: 10px;
}

.header-dropdown{
    font-family: 'Monaco';
    font-size: 24px;
    color: teal;
    height: 20px;
    line-height: 1.15;
}

.header-dropdown:hover{
    text-decoration: underline;
    cursor: pointer;
}

.header_dropdown:active{
    text-decoration: underline;
    cursor: pointer,
}

.round-back-btn {
    background-color: #e6ebe9;
    color: #95ABBA;
    border-radius: 50%;
}
/* header home button */
.svg{
    height: 2em;
    width: 2em;
}
/* mdbdatatable */
.table thead th {
    border-bottom: 0px;
}

.table td, .table th {
    border-top: 0px;
}

.dataTables_wrapper dt-bootstrap4 table {
    padding-left:15px;
    padding-right:15px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #B4CEE0;
    color: black;
}

.sorting:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sorting_asc:hover {
    cursor: pointer;
    text-decoration: underline;
}

.sorting_desc:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* librarian */

.librarianBranch {
    padding-bottom: 12px;
}
